@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Prompt', sans-serif;
}
body{
    display: flex;
    
}

nav
{
    height: 100vh;
    width: 20%;
    border-right: 1px solid rgb(197, 197, 197);
    background-color: rgb(11, 11, 11);
    color: white;
}
nav div img
{
    width: 200px;
    height:200px;
}
nav li
{
    list-style: none;
    cursor: pointer;
    font-size: 1.6em;
    align-items: center;
    display: flex;
    margin-left: 40px;
}

nav li button{
    width:100%;
    padding: 15px;
    border: none;
    background: none;
    text-align: start;
    color:  rgb(255, 255, 255);
    font-weight: 550;
    cursor: pointer;
}
.grid
{
    width: 80%;
    height: 773px;
    display: grid;
    grid-template-columns:30% 70%;

}
.cards {
    border-right: 1px solid rgb(231, 231, 231);
}
.container 
{
    display: grid;
    grid-template-rows: 36% 36% 28%;
}
#sald h1
 {
    font-size: 40px;
    font-weight: 100;
    color: white;
    margin: 30px;
}
.card
{
    background-color: black;
    display: table-column;
}
.buttons
{
    margin-left: 30px;
    display: flex;
}
.buttons div
{
    width: 120px;
    height:30px;
    background-color: rgb(29, 29, 29);
    border: none;
    border-radius:5px ;
    margin-left: 15px;
    color: white;
    font-size: 11px;
    cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
    
}
.values
{
    color: white;
    font-size: 12px;
    display: flex;
}
.values div
{
    margin-left: 45px;
}
.values span
{
    font-size: 22px; 
}
.spendings{
    height: 280px;
    font-size: 14px;
    display: grid;
    justify-content: center;
}
.categories
{
    height: 280px;
    font-size: 14px;
    display: grid;
    justify-content: center;
}

.graphs
{
    display: grid;
    grid-template-columns:50% 50%;
}
.graphs div 
{
    width: 100%;
    background-color: white;
}
.container h1 
{
    font-size:20px;
    font-weight:300;
    color: rgb(33, 33, 33);
    margin-top: 30px;
}
.transactions
{
    border-top: 1px solid rgb(231, 231, 231);
}
.bar{
    display: flex;
    height: 12px;
}
.bar div{
  border-radius: 2px;
    margin: 2px;
}
.categories ul {

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: center;
    text-align: start;
    list-style-type: none;
}
.categories ul li {
    margin:5px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;
}