@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    background-color: rgb(245, 243, 244);
}
.saldos
{
    text-align: start;
    width: 100%;
    height: 200px;
    font-size: 1.35em;
    
}
.saldos div
{
    text-align: start;
    width: 300px;
    color: rgb(169, 169, 169);
    font-weight: 600;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
}
.saldos div p
{
    color: rgb(58, 58, 58);
    font-size: 0.5em;
    font-weight: 100;
}
.extrato
{
    width: 80%;
    height: 500px;
    display: flex;
    margin-left: 40px;
    margin-top: 20px;
    color:rgb(29, 33, 29);
}
.extrato li
{   
    margin: 20px;
    list-style: none;
    width: 300px;
}
.carteira div
{
    display: flex;
}
nav
{
    width: 15%;
    border-right: 1px solid rgb(197, 197, 197);
}
nav div img
{
    width: 200px;
    height:200px;
}
nav li
{
    list-style: none;
    cursor: pointer;
    font-size: 1.5em;
    align-items: center;
    color: rgb(28, 28, 28);
    display: flex;
}

nav li button{
    width:100%;
    padding: 15px;
    border: none;
    background: none;
    text-align: start;
    color:  rgb(28, 28, 28);
    font-weight: 550;
    cursor: pointer;
}