@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    font-family: 'Prompt', sans-serif;
}
body{
    display: flex;
    height: 100vh;
}

.containerBar
{
    height: 800px;
    width: 20%;
    border-right: 1px solid rgb(197, 197, 197);
    background-color: rgb(11, 11, 11);
    color: white;
    display: table-column;

}

.containerBar ul {
    height: 300px;
}
.containerBar li
{
    list-style: none;
    cursor: pointer;
    align-items: center;
    display: flex;
    margin-left: 40px;
}

.containerBar button{
    width:100%;
    padding: 15px;
    border: none;
    background: none;
    text-align: start;
    color:  rgb(255, 255, 255);
    font-weight: 550;
    cursor: pointer;
}
.containerBar img {
    width: 320px;
    height: 250px;
}
.cardsdisplay {
    font-size: 13px;
    font-weight: 550;
    margin-top: 5px;
}
.cardsdisplay summary{
    display: flex;
    text-align: center;
    width: 200px;

}
.cardsdisplay summary span {
    margin-left: 15px
}
.cardsdisplay li span{
   margin-left: 10px
}

.grid
{
    width: 80%;
    height: 773px;
    display: grid;
    grid-template-columns:30% 70%;
}
.cards {
    border-right: 1px solid rgb(231, 231, 231);
    display:grid;
    justify-content: center;
}
.cards h1 {
    font-size: 1.3em;
    font-weight: 100;
    height: 20px;
}
.cards .cardImage{
    width: 220px;
    height: 120px;
}
.cards .cardImage:hover{
    cursor: pointer;
    -xpedu-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.cards .cardImage img
{
   width: 100%;
   height: 100%;
    box-shadow: 5px 5px 14px;
    border-radius: 12px;
}
.container 
{
    display: grid;
    grid-template-rows: 36% 36% 28%;
}
#sald h1
 {
    font-size: 40px;
    font-weight: 100;
    color: white;
    margin: 30px;
}
.infoCardContainer
{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.infoCardContainer .infoCard{
    display: table-column;
}
.infoCardContainer .currentCard
{
    border-radius: 12px;
    width: 400px;
    animation: effect ease-in-out 2s;
    height: 200px;
}

@keyframes effect {
    0%{
        opacity: 0.1;
        transform: translate(-10px);
    }
    100%{
        opacity: 1;
        transform: translate(0px);
    }
}

.buttons
{
    margin-left: 30px;
    display: flex;
}
.buttons div
{
    width: 120px;
    height:30px;
    background-color: rgb(29, 29, 29);
    border: none;
    border-radius:5px ;
    margin-left: 15px;
    color: white;
    font-size: 11px;
    cursor: pointer;
   display: flex;
   align-items: center;
   justify-content: center;
    
}

.values
{
    color: white;
    font-size: 12px;
    display: flex;
}
.values div
{
    margin-left: 45px;
}
.values span
{
    font-size: 22px; 
}
.spendings{
    height: 280px;
    font-size: 14px;
    display: grid;
    justify-content: center;
}
.categories
{
    height: 280px;
    font-size: 14px;
    display: grid;
    justify-content: center;
}
.graphs
{
    display: grid;
    grid-template-columns:50% 50%;
}
.graphs div 
{
    width: 100%;
    background-color: white;
}
.container h1 
{
    font-size:20px;
    font-weight:300;
    color: rgb(33, 33, 33);
    margin-top: 30px;
}
.transactions
{
    border-top: 1px solid rgb(231, 231, 231);
}
.transactions h1
{
    margin:30px;
}
.bar{
    display: flex;
    height: 2px;
}
.bar div{
    border-radius: 2px;
    margin: 2px;
    padding: 5px;
  
}
.bar div p{
    position: absolute;
    visibility: hidden;
    font-size: 13px;
    width: 100px;
    background: rgb(45, 44, 44);
    color:#fff;
    text-align: center;
    padding: 5px  0; 
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -50px;
    margin-bottom: 5px;
}
.bar div p::after {
    
    content: " "; 
    position: absolute; 
    top: 100%; left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}
.bar div:hover p{
    visibility: visible;
  }
.bar div:hover{
    visibility: visible;
    cursor: pointer;
    -xpedu-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
  }
  
.categories ul {

    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: start;
    align-items: center;
    text-align: start;
    list-style-type: none;
}
.categories ul li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    align-items: center;
    margin:5px;
    border: 1px solid rgb(230, 230, 230);
    border-radius: 4px;
}

.categories ul li div{
    width: 8px;
    height: 8px;
    margin: 10px;
    border-radius: 50%;
}
.transactionsList {
    list-style-type:none;
    margin: 15px;
}
.transactionsList li{
    list-style-type:none;
    margin: 10px;
    display: flex;
    justify-content: start;
    width: 100%;
    font-size: 0.9em;
}
.transactionsList li p {
    width: 200px;
    font-weight: 100;
}
.transactionsList li p:nth-child(1){
    display: flex;
    justify-content: start;
}
.transactionsList li p:nth-child(1) box-icon{
    margin-right: 20px;
}